nav a {
  margin-top: 2in;
  margin-left: 3in;
    width: 10%;
    text-align: center;
    font-family: sans-serif;
    font-weight: 900;
    margin-top: 10px;
    display: block;
    background-color: brown;
    border-radius: 5px;
    font-size: large;
  }
  
    nav a:visited, a:link {
      color: #200320;  
    }
  
    nav a:hover {
      color: blue;
      background-color: rgb(53, 194, 230);
    }
  
    nav a.active {
      color: blue;
    }