<p class="spacing"></p>
<p class="spacing"></p>
<p class="spacing"></p>
<p class="spacing"></p>

<p>
On clicking the “File Upload” button you’ll be directed to a page for uploading your file(s). After successfully uploading your file(s) (this may take a little time if your file size is big enough), you’ll have to click on the “View Results'' button, to view results in the form of various graphs and visualizations.
There’ll be a button on the “View Result” page that directs you to the main home page.
</p>
<div>
    <a mat-button mat-raised-button style="margin-left: 15px; margin-top: 75px; background-color: black; color: white;" routerLink="/editprofile">Edit Profile</a>
    <a mat-button mat-raised-button style="margin-left: 15px; margin-top: 75px; background-color: black; color: white;" routerLink="/fileupload">File Upload</a>
    <a mat-button mat-raised-button style="margin-left: 15px; margin-top: 75px; background-color: black; color: white;">View Previous Results</a>
</div>
