<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>

    <p style="font-size: small; text-align: center;">Please fill in this form to create an account.</p>
    <!-- <form class="example-form"> -->
    <form class="example-form" action="action_page.php" method="post" [formGroup]="userSignupForm">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Name" formControlName="name">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" formControlName="email">
        </mat-form-field>
      
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Username" formControlName="username">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password" formControlName="password">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Confirm Password" formControlName="confirm_password">
        </mat-form-field>
      </mat-card-content>
      <label>
        <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
      </label>
      <div class="container" style="text-align: right;">
        <span><a routerLink="/login">Already have an account?</a></span>
      </div>
      <p style="font-size: x-small; text-align: center;">By creating an account you agree to our <a routerLink="/register" style="color:dodgerblue">Terms & Privacy</a>.</p>
      <button mat-stroked-button color="accent" class="btn-block" (click)="onSubmit()">Register</button>
    </form>
  </mat-card>
</div>
