<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box1">
    <mat-card-header>
      <mat-card-title>Plagiarism Checker</mat-card-title>
    </mat-card-header>
    <p class="spacing"></p>
    <p class="spacing"></p>
    <p>
      Red Plag is a plagiarism checker tool that allows user to detect source code plagiarism and locate the instances of plagiarism within the code files pairwise. The frontend is implemented in Angular and backend with Django and Django REST framework.
    </p>
    <p>
      It gives a visual measure of plagiarized content using scatter plots and also highlights the similar blocks between the files pairwise. It implements language-specific functionality to develop a more robust checker for Java.
    </p>
    <a routerLink="/login">Let's get started!</a>
  </mat-card>
</div>
