
<app-login></app-login>
<app-sign-up></app-sign-up>


<mat-toolbar color="primary" class="header">
  <div><a target="_blank" class="bytedemons">Byte Demons</a></div>
  <span class="nav-tool-items">
    <a mat-button style="margin-right: -5px; color: white; font-family: monospace; font-size: 25px;" disabled>Red</a>
    <a mat-button mat-raised-button style="margin-left: -5px; background-color: crimson; color: white; font-family: monospace; font-size: 25px;" disabled>Plag</a>
  </span>
</mat-toolbar>

<router-outlet></router-outlet>

